footer.footer
	.footer__first
		.container
			.row
				.col-5.col-lg-6.col-md-8.footer__social-wrapper
					.footer__title Мы в соцсетях
					.socials
						a.socials__item(href="#")
							img(src="assets/images/social-icon-1.svg", alt="Instagram")
						a.socials__item(href="#")
							img(src="assets/images/social-icon-2.svg", alt="Facebook")
						a.socials__item(href="#")
							img(src="assets/images/social-icon-3.svg", alt="Twitter")
						a.socials__item(href="#")
							img(src="assets/images/social-icon-4.svg", alt="VK")
						a.socials__item(href="#")
							img(src="assets/images/social-icon-5.svg", alt="OK")
					.foo-info
						ul
							li Специальные предложения
							li 20% скидки на все товары к Вашему дню рождения
							li Рассылка с новыми товарами и трендами
							li Конкурсы с интересными премиями
							li Бесплатно и без обязательств

				.col-7.col-lg-6.col-md-4.footer__nav-wrapper
					.foo-nav
						.foo-nav__block
							.foo-nav__title Сервис
							ul
								li
									a(href="#") Мебель под заказ
								li
									a(href="#") Как сделать заказ
								li
									a(href="#") Оплата и Доставка
								li
									a(href="#") Сборка и монтаж
						.foo-nav__block
							.foo-nav__title Колекции
							ul
								li
									a(href="#") Каталог
								li
									a(href="#") Акции
								li
									a(href="#") Для гостиниц и ресторанов
								li
									a(href="#") Для дачи и сада
						.foo-nav__block
							.foo-nav__title Информация
							ul
								li
									a(href="#") О Магазине
								li
									a(href="#") Контакты
			.row
				.col-12
					.development Дизайн и разработка — 
						a(href="http://asight.pro", target="_blank") Asight
	.footer__second
		.container
			.row
				.col-12
					.foo-bottom
						.foo-bottom__block.foo-bottom__block_payments-mobile
							img(src="assets/images/icons/payments-mobile-icon.png", alt="Платёжные системы")
						.foo-bottom__block.foo-bottom__block_address г. Балашиха Носовихинское шоссе вл.4 Т.Ц. Никольский, (второй этаж, справа от эскалатора)
						.foo-bottom__block.foo-bottom__block_copyright © 2003- 2017 Мебелюка.ру
						.foo-bottom__block.foo-bottom__block_payment-systems
							img(src="assets/images/payments-icon.png", alt="")
					.footer__copyright-mobile!= '<p>© 2003- 2017 Мебелюка.ру</p><p>Дизайн и разработка — Asight</p>'

.to-top
	img(src="assets/images/arrow-top-icon.svg", alt="Наверх")
.page-bg