extends ../layout/base

append config
	- var pageTitle = 'Ошибка 404 (страница не найдена)'

block content
	main.page-404
		section.breadcrumbs
			.container
				.row
					.col-12
						ul.breadcrumbs__links
							li.breadcrumbs__item
								a(href="#") Мебелюка
							li.breadcrumbs__arrow
							li.breadcrumbs__current
								a(href="#") 404
		section.error-404
			.container
				.row
					.col-12
						h2 Упс..
						span К сожалению такой страницы не существует
						a(href="home.html") На главную