extends ../layout/base

append config
	- var pageTitle = 'О магазине'

block content
	main.main-content
		include ../components/breadcrumbs
		.article
			.container
				.row
					.col-12
						h1.article__title О магазине
					.col-9
						.article__text!= '<p>Магазин мебели "Мебелюка" был открыт в интернете летом 2005 года. Мебелюка не была открыта на пустом месте. Она появилась в результате ребрендинга интернет магазина мебели «Shkafa.net». В сентябре 2005 года в Москве Предметы интерьера из стран Ближнего и Дальнего Востока, Азии, Европы полюбились нам и нашим клиентам.открылся выставочный салон-магазин Мебелюка по адресу Носовихинское ш. 23. Теперь магазин располагается рядом в другом торговом центре (Т.Ц. Никольский) по адресу <a href="#">г.Балашиха Носовихинское шоссе вл.4.</a></p><p>Как и в начале своей деятельности, магазин "Mebeluka" специализируется на мебели из массива дерева.</p><h3>Основная идея - помочь обставить дом экологически безопасной мебелью.</h3><p>Кроме мебели, магазин "Мебелюка" взял курс на внедрение и популяризацию культур народов мира. <br>Предметы интерьера из стран Ближнего и Дальнего Востока, Азии, Европы полюбились нам и нашим клиентам.</p>'
			include ../components/goods
			.container
				.row
					.col-9
						.article__text!= '<p>Мебелюка постоянно работает над ассортиментным рядом, улучшая предложение и повышая качество товара. <br>При этом, мы продолжаем работать с мебелью из массива в низкой и средней ценовой категории. В нашем магазине вы найдете мебель из массива производства России, Малайзии, Китая, Сша, Дании, Италии. Можно подобрать себе как отдельный предмет, например <a href="">кровать</a>, так и обставить целую квартиру.</p><p>Некоторые предложения нашего магазина действительно уникальны. Нигде в России нет такого выбора <a href="">вешалок</a>. Никто не предложит такого выбора <a href="">ширм</a>.</p>'
			include ../components/discounted-goods
			include ../components/annals