extends ../layout/base

append config
	- var pageTitle = 'Сборка мебели'

block content
	main.page-info
		include ../components/breadcrumbs
		section.title
			div.container
				.row
					.col-12
						h1 Сборка мебели
		section.title.title--inside
			.container
				.row
					.col-12
						h5 Расценки на сборку:
		section.table
			.container
				.row
					.col-12
						table.table-install
							thead
								tr
									td Предмет мебели
									td Цена сборки
							tbody
								tr
									td Стул (малайзия)
									td от 170 руб.
								tr
									td Вешалка
									td от 200 руб.
								tr
									td Прикроватная тумбочка
									td от 200 руб.
								tr
									td Кресло
									td от 200 руб.
								tr
									td Кресло-качалка
									td от 300 руб.
								tr
									td Туалетный столик	
									td от 350 руб.
								tr
									td Сервировочный столик
									td от 350 руб.
								tr
									td Стол обеденный (массив)
									td от 700 руб.
								tr
									td ТВ-тумба
									td от 700 руб.
								tr
									td Кровать, диван
									td от 800 руб.
								tr
									td Комод
									td от 1000 руб.
								tr
									td Компьютерный стол
									td от 1200 руб.
								tr
									td Стол-книжка (ДСП)
									td от 1200 руб.
								tr
									td Двухъярусная кровать
									td от 1500 руб.
								tr
									td Кровать с подъемным механизмом
									td от 2500 руб.
								tr
									td Шкаф
									td от 2500 руб.